.App{
    background-image: url('/public/back/alessio-zappatore-GMCbQTN3ork-unsplash.jpg');
    background-size: cover;
    &.Clear {
        background-image: url('/public/back/sunny1.jpg');
      }
    
      &.Clouds {
        background-image: url('/public/back/cloudy.jpg');
      }
    
      &.Rain {
        background-image: url('/public/back/rain.jpg');
      }
      &.Haze {
        background-image: url('/public/back/smog.jpg');
      }
}